default: &default
  adapter: postgresql
  encoding: unicode
  pool: 12
  template: template0

development:
  <<: *default
  database: publishing_api_development
  url: <%= ENV["DATABASE_URL"]%>

test:
  <<: *default
  database: publishing_api_test
  url: <%= ENV["TEST_DATABASE_URL"] %>

production:
  <<: *default

production_replica:
  primary:
    <<: *default
  primary_replica:
    <<: *default
    url: <%= ENV["REPLICA_DATABASE_URL"] %>
    replica: true
